<%- include("./partials/header.ejs") %>
<div class="w-full h-[80%] px-10 py-10">
    <h3 class="mb-5 font-semibold">You Can Create a New Post.</h3>
    <form action="/post" method="post" class="w-[100%]">
        <textarea placeholder="what's on you mind ?" name="content" class="w-1/3 p-3 block mb-5 outline-none bg-transparent resize-none border-[1.5px] border-zinc-400 rounded-md"></textarea>
        <input class="px-5 py-2 bg-blue-500 text-white rounded-md" type="submit" value="Create New Post">
    </form>
</div>
<%- include("./partials/footer.ejs") %>