<%- include("./partials/header.ejs") %>
<div class="w-full h-[80%] px-10 py-10">
    <h3 class="mb-5 font-semibold">Edit Your Post.</h3>
    <form action="/update/<%= post._id %>" method="post" class="w-[100%]">
        <textarea placeholder="what's on you mind ?" name="content" class="w-1/3 p-3 block mb-5 outline-none bg-transparent resize-none border-[1.5px] border-zinc-400 rounded-md"><%= post.content %></textarea>
        <input class="px-5 py-2 bg-yellow-500 text-black rounded-md" type="submit" value="Update Post">
    </form>
</div>
<%- include("./partials/footer.ejs") %>